body{
  background-color: beige;
  color: burlywood;
}
main {
  background-color: rgb(155, 201, 241);
  color:rgb(239, 145, 22);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}

#too-low{
  background-color: rgb(231, 236, 240);
  color: brown;
  border: 1px solid r;
}

.main-message{
  background-color:cornsilk;
  color:black;
  margin-top:2em;
}